[submodule "modules/armadillo-code"]
	path = modules/armadillo-code
	url = git@gitlab.com:conradsnicta/armadillo-code.git
[submodule "modules/eigen"]
	path = modules/eigen
	url = git@gitlab.com:libeigen/eigen.git
